.search {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  font-size: 16px;
  line-height: 22px;
  box-sizing: border-box;
}

.search:focus {
  border-color: #5070f2;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(40, 72, 229, 0.2);
  box-shadow: 0 0 0 2px rgba(40, 72, 229, 0.2);
}
